{% extends "base.html" %}
{% load crispy_forms_filters %}
{% block title %}<title>Cook List</title>{% endblock %}
{% block content %}
  <h1>
    Dish Types:
    <a style="float: right"  href="{% url 'kitchen_service:dish-type-create' %}"
       class="btn btn-primary link-to-page">
      Create
    </a>
  </h1>

  <form action="" method="get" class="form-inline">
    {{ search_form|crispy }}
    <input class="btn btn-secondary" type="submit" value="🔍">
  </form>

  {% if dishtype_list %}
    <table class="table">
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Update</th>
        <th>Delete</th>
      </tr>
    {% for dish_type in dishtype_list %}
      <tr>
        <td>{{ dish_type.id }}</td>
        <td>{{ dish_type.name }}</td>
        <td>
          <a href="{% url 'kitchen_service:dish-type-update' pk=dish_type.id %}"
               class="btn btn-secondary link-to-page">Update</a>
        </td>
       <td>
          <a href="{% url 'kitchen_service:dish-type-delete' pk=dish_type.id %}"
               class="btn btn-danger link-to-page">Delete</a>
        </td>
      </tr>
    {% endfor %}
    </table>
  {% else %}
    <p>There are no dish types</p>
  {% endif %}
{% endblock %}
